# PSET05 - Collaborative Filtering

In [4]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
  Installing build dependdone
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /Users/Nandin-Erdene/Library/jupyterlab-desktop/envs/fastai/lib/python3.12/site-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /Users/Nandin-Erdene/Library/jupyterlab-desktop/envs/fastai/lib/python3.12/site-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Users/Nandin-Erdene/Library/jupyterlab-desktop/envs/fastai/lib/python3.12/site-packages (from scikit-surprise) (1.15.2)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml)done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp312-cp312-macosx_10_13_x86_64.whl size=521244 sha256=48d7f6a6f3680dac9062f0db39aa8cddbba9f34f63abd0122fff9aa088306e13
  Stored in directory: /Users/Nandin-Erdene/Library/Caches/pip/wheels/75/fa/bc/739bc2cb1fbaab6061854e6cfbb81a0ae52c92a502a7fa454b
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

## Step 1: Imports and Dataset Loading

In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split
from surprise import accuracy
import joblib
from supabase import create_client, Client

In [2]:
url = "https://yvspjnxnwdanqwymcwtw.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2c3Bqbnhud2RhbnF3eW1jd3R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU0NzIwMTIsImV4cCI6MjA2MTA0ODAxMn0.iVIH5OwBDXHM9yJGnQhxn7zkuFEmmQsZwGIKJiu3MRo"
supabase: Client = create_client(url, key)

In [7]:
# Load datasets
anime_df = pd.read_csv("data/final_animedataset.csv")
user_score_df = pd.read_csv("data/users-score-2023.csv")

## Step 2: Exploratory Data Analysis (EDA)

In [9]:
anime_df.head()

,username,anime_id,my_score,user_id,gender,title,type,source,score,scored_by,rank,popularity,genre
0,karthiga,21,9,2255153,Female,One Piece,TV,Manga,8.54,423868,91.0,35,"Action, Adventure, Comedy, Super Power, Drama,..."
1,karthiga,59,7,2255153,Female,Chobits,TV,Manga,7.53,175388,1546.0,188,"Sci-Fi, Comedy, Drama, Romance, Ecchi, Seinen"
2,karthiga,74,7,2255153,Female,Gakuen Alice,TV,Manga,7.77,33244,941.0,1291,"Comedy, School, Shoujo, Super Power"
3,karthiga,120,7,2255153,Female,Fruits Basket,TV,Manga,7.77,167968,939.0,222,"Slice of Life, Comedy, Drama, Romance, Fantasy..."
4,karthiga,178,7,2255153,Female,Ultra Maniac,TV,Manga,7.26,9663,2594.0,2490,"Magic, Comedy, Romance, School, Shoujo"

In [10]:
user_score_df.head()

   user_id Username  anime_id             Anime Title  rating
0        1    Xinil        21               One Piece       9
1        1    Xinil        48             .hack//Sign       7
2        1    Xinil       320                  A Kite       5
3        1    Xinil        49        Aa! Megami-sama!       8
4        1    Xinil       304  Aa! Megami-sama! Movie       8

In [11]:
# Check missing values
anime_df.isnull().sum().sort_values(ascending=False).head(10)

rank        751970
genre         2267
username       256
anime_id         0
my_score         0
user_id          0
gender           0
title            0
type             0
source           0
dtype: int64

In [18]:
print(top_rated)

anime_id
22617    10.0
53007    10.0
40709    10.0
6018     10.0
29427    10.0
52997    10.0
49735    10.0
53001    10.0
41011    10.0
40414    10.0
Name: rating, dtype: float64

In [19]:
# Make sure anime_id is int in both
anime_df['anime_id'] = anime_df['anime_id'].astype(int)
top_rated.index = top_rated.index.astype(int)

In [21]:
# Filter and merge
top_rated_df = anime_df[anime_df['anime_id'].isin(top_rated.index)][['anime_id', 'title']].drop_duplicates()
top_rated_df = top_rated_df.set_index('anime_id').join(top_rated)

In [23]:
print(top_rated_df.head())

Empty DataFrame
Columns: [title, rating]
Index: []

## Step 3: Preprocessing

In [28]:
# Drop NA values from rating
ratings_cleaned = user_score_df.dropna(subset=["user_id", "anime_id", "rating"])

# Convert to Surprise Dataset format
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(ratings_cleaned[["user_id", "anime_id", "rating"]], reader)

## Step 4: Modeling with Surprise (SVD)

In [29]:
# Train-test split
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

# Train SVD model
model = SVD()
model.fit(trainset)

# Evaluate model
predictions = model.test(testset)
rmse = accuracy.rmse(predictions)
print(f"Test RMSE: {rmse:.4f}")

RMSE: 1.2342
Test RMSE: 1.2342

## Step 5: Save Model

In [30]:
# Save model
joblib.dump(model, "model/recommender_model.pkl")

['model/recommender_model.pkl']